<button class="btn btn-primary" ng-click="showImage=!showImage">Show/Hide Image</button>
<div ng-if="showImage">
	<img ng-src="img/62.png">
</div>
<div class="jumbotron" ng-controller="listaTelefonicaCtrl">
	<h3>{{app}}</h3>

	<ui-alert title="Ops, aconteceu um problema">
		{{error}}
	</ui-alert>

	<ui-accordions>
		<ui-accordion title="Accordion 1">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</ui-accordion>
		<ui-accordion title="Accordion 2">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</ui-accordion>
		<ui-accordion title="Accordion 3">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</ui-accordion>
	</ui-accordions>

	<hr />

	<input type="text" class="form-control" ng-model="criterioBusca" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}" placeholder="O que você está buscando?" />
	<table class="table table-striped" ng-show="(contatos.length > 0)">
		<tr>
			<th></th>
			<th>Serial</th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
			<th>Operadora</th>
			<th>Preço</th>
			<th>Data</th>
		</tr>
		<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioBusca | orderBy:criterioOrdenacao:direcaoOrdenacao track by contato.id">
			<td><input type="checkbox" ng-model="contato.selecionado" ng-click="verificarContatoSelecionado(contatos)" /></td>
			<td>{{::contato.serial}}</td>
			<td><a href="#/detalhesContato/{{contato.id + 1}}">{{contato.nome | name | ellipsis:7}}</a></td>
			<td>{{::contato.telefone}}</td>
			<td>{{::contato.operadora.nome | lowercase}}</td>
			<td>{{::contato.operadora.precoComImposto | currency}}</td>
			<td>{{::contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
		</tr>
	</table>

	<button class="btn btn-primary" ng-click="reset()">Reset</button>

	<hr/>
	<a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
	
	<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="hasContatoSelecionado">Apagar {{((qtdeContatosSelecionados(contatos) < 2) ?'Contato' :'Contatos')}} </button>

	{{100 | number:2}}
</div>